<p>
<%=_("In Firefox, you should see a dialog window like this,
immediately after clicking the certificate link:")%>
<%= ssl_instructions_image 'cacert-firefox-import' %>
</p>
<p>
<%=_("Examine the presented certificate by clicking the
&ldquo;View&rdquo; button.  If everything seems correct, check the
&ldquo;Trust this CA to identify web sites&rdquo; option only before
clicking the OK button.")%>
</p>
