<p>
<%=_("In general, to install the security certificate on other
browsers and/or operating systems you'll need to consult your browser
documentation.")%>
</p>
<p>
<%=_("On Windows and Mac OS X the system presents a dialog to import
the certificate when you double click on it.")%>
</p>
