<p>
<%=_("In Safari, on Mac OS X or Windows you should open the downloaded
certificate file by double clicking on it.  The system-dependent
dialog box will appear, in which you can examine and install the
certificate.")%>
</p>
<p>
<%=_("On Mac OS X you'll see a dialog box like this:")%>
<%= ssl_instructions_image 'cacert-install-macos' %>
</p>
<p>
<%=_("Examine the presented certificate by clicking the &ldquo;View
Certificates&rdquo; button.  If everything seems correct, click the OK
button to install the certificate.")%>
</p>
