<p>
<%=_("In Chrome, on Windows or Mac OS X you should open the downloaded
certificate file by double clicking on it.  The system-dependent
dialog box will appear, in which you can examine and install the
certificate.")%>
</p>
<p>
<%=_("On Windows you'll see a dialog box like this:")%>
<%= ssl_instructions_image 'cacert-install-windows' %>
</p>
<p>
<%=_("Examine the presented certificate by clicking the
&ldquo;Details&rdquo; tab.  If everything seems correct, click the
&ldquo;Install Certificate&rdquo; button on the first tab and follow
the &ldquo;Import Certificate Wizard&rdquo; steps.")%>
</p>
