<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body style="color: black; background: white; font-family: Verdana, Helvetica, Arial, Sans-Serif; font-size: 12pt;">
<!--begin-preview-cut-->
<%= yield %>
<!--end-preview-cut-->
<div style="font-size: 90%; color: #aaa; border-top: 1px solid #bbb;">
<h2><%=_("About YaPET")%></h2>
<p>
<%=_("YaPET: a Personal Expense Tracker, is a web application which will help
you keep track of your expenses, understand them and reduce your
monthly costs.")%>
</p>
<p>
<%= link_to root_url, root_url %>
</p>
</div>
</body>
</html>
